<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.min.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body>
<div ng-app="bill">
    <div ng-controller="MainController">
        <div>
            <table>
                <tr ng-repeat="user in users">
                    <td>{{user.userName}}</td>
                    <td>
                        <button type="submit" ng-click="deleteUser(user)">Delete User</button>
                    </td>
                </tr>
            </table>

        </div>
        <br>
        <div>
            <form >
                <input type="text" size = "5" ng-model ="userName" />
                <button type="submit" ng-click="addUser(userName)">Add User</button>
            </form>
        </div>
        <br>
    </div>
</div>
</body>
</html>